/*/ O padrão para todos as pag /*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


header{
    background-image: url(../imagens/imagens/Supermercado.webp) ;
    margin-top:0 0 0 0;
    
}

.menu{
    position: fixed;
    width: 100%;
    top: 0;
    
}

.pag{
    height: 250px;
}


h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(249, 197, 65) ;
    padding-top:auto;
    height: 30px;
}
/*/ O padrão para todos as pag /*/

h4{
    margin-top: 25px;
    margin-left: 20px;
    font-size: 30px;
    color: rgba(46, 48, 49, 0.767);
    padding-bottom: 20px;
    border-bottom: solid 2px rgba(46, 48, 49, 0.767);   
    text-shadow: 2px 0px 6px rgba(0, 0, 0, 0.363);
}

/*/parte dos produtos/*/
#churasco {
    display: grid;
    width: 60%;
    grid-template-columns: 4fr 4fr 2fr;
    justify-content: center;
    align-items: center;
    margin: auto;
    justify-content: space-around;
    margin-top: 30px;
}
#peixe{
    display: grid;
    width: 60%;
    grid-template-columns: 4fr 4fr 2fr;
    justify-content: center;
    align-items: center;
    margin: auto;
    justify-content: space-around;
    margin-top: 30px;
}
#vinhos{
    display: grid;
    width: 60%;
    grid-template-columns: 4fr 4fr 2fr;
    justify-content: center;
    align-items: center;
    margin: auto;
    justify-content: space-around;
    margin-top: 30px;}

.caixa{
    height: 380px;
    width: 250px;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 10px;
}
.caixa:hover{
    box-shadow: 1px 2px 14px 1px rgb(249, 197, 65);
}
#descrição{
    text-align: center;
    font-size: 13pt;
    border-bottom: solid rgba(46, 48, 49, 0.767) 1.5px;
    margin-top: 83px;
}
    #descriçãodois{
    text-align: center;
    font-size: 13pt;
    border-bottom: solid rgba(46, 48, 49, 0.767) 1.5px;
    margin-top: 50px;
    }
    #descriçãotres{
    text-align: center;
    font-size: 13pt;
    border-bottom: solid rgba(46, 48, 49, 0.767) 1.5px;
    margin-top: 59px;
    }
    #descriçãoquatro{
    text-align: center;
    font-size: 13pt;
    border-bottom: solid rgba(46, 48, 49, 0.767) 1.5px;
    margin-top: 59px;
    }
    #descriçãocinco{
    text-align: center;
    font-size: 13pt;
    border-bottom: solid rgba(46, 48, 49, 0.767) 1.5px;
    margin-top: 59px;
    }
    #descriçãoseis{
    text-align: center;
    font-size: 13pt;
    border-bottom: solid rgba(46, 48, 49, 0.767) 1.5px;
    margin-top: 59px;
    }
    #descriçãosete{
    text-align: center;
    font-size: 13pt;
    border-bottom: solid rgba(46, 48, 49, 0.767) 1.5px;
    margin-top: 80px;
        }
    #descriçãooito{
    text-align: center;
    font-size: 13pt;
    border-bottom: solid rgba(46, 48, 49, 0.767) 1.5px;
    margin-top: 59px;
    }
    #descriçãonove{
    text-align: center;
    font-size: 13pt;
    border-bottom: solid rgba(46, 48, 49, 0.767) 1.5px;
    margin-top: 62px;
    }
.preco{
    text-align: center;
    font-size: 15pt;
    padding-top: 10px;
    color: red;
}
main img{
    width: 150px;
    display: block;
    margin: auto;
    padding-top: 10%
    
}
#um{
    margin-top: 60px;
    width: 200px;
}
    #dois{
    margin-top: 40px;
    width: 90px;
    }
    #tres{
    margin-top: 40px;
    width: 100px;
    }
    #quatro{
    width: 60px;
    height: 200px;
    }
    #cinco{
    width: 60px;
    height: 200px;
    }
    #seis{
    width: 60px;
    height: 200px;
    }

    #sete{
    margin-top: 70px;
    width: 200px;
    }
    #oito{
    margin-top: 70px;
    width: 200px;
    }
    #nove{
    margin-top: 60px;
    width: 170px;
    }
/*/parte dos produtos fim/*/


    
    @media(max-width: 950px){
        footer{
            flex-direction: column;
            flex-wrap: nowrap;
        }
        footer .box{
            width: 100%;
            text-align: center;
        }
        footer .box:nth-child(4){
            width: 100%;
        }
        form, input, textarea{
            width: 50%;
            height: auto;
            flex-direction: column;
            margin: auto; 
        }
        .menu{
    
            flex-wrap: wrap;
            justify-content: center;
    
        }
        .caixa , #ze {
            display: contents;
           
        }
        main figcaption{
            text-align: center;
            margin: auto;
            padding: none;
        }
        body{
            min-width: 320px;
            max-width: 800px;
            margin: auto;
        }
        
    }
    /*/ Fotteeeeeeeeeeeeeeeer /*/

    